@use '../helpers/colors';
.settings{
    position:fixed;
    top: 0;
    left: -205px;
    width:150x;
    z-index: 9999;
    background-color: #fff;
    height: 100%;
    transition: all .8s;
    &.open{
        left: 0;
    }
    .gear{
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 200px;
        left: 193px;
        padding: 5px 9px;
        background: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        &.active{
            svg{
                animation: rotat 1s infinite linear !important;
                background-color: transparent;
                path{
                }
            }
        }
        svg{
            width: fit-content;
            background: #fff;
            padding: 5px 9px;
            border-top-right-radius: 5px;
            font-size: 26px;
            border-bottom-right-radius: 5px;
            color: var(--main-color);
            cursor: pointer;
            path{
            }
        }
    }
    .container{
        margin-top: 40px;
        section{
            background-color: #eee;
            width: 100%;
            padding: 5px;
            margin-bottom: 20px;
            text-align: center;
            &.options-color{
                p{
                    color: black;
                    opacity: .8;
                    font-size: 18px;
                    font-weight: bolder;
                }
                ul{
                    display: flex;
                    justify-content: space-evenly;
                    transform: translateX(-20px);
                    li{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;   
                        cursor: pointer;
                        opacity: .6;
                        margin-left: 3px;
                        &:nth-child(1){
                            background-color: #ff9800;
                        }
                        &:nth-child(2){
                            background-color: #03a9f4;
                        }
                        &:nth-child(3){
                            background-color: #4caf50;
                        }
                        &:nth-child(4){
                            background-color: #009688;
                        }
                        &:nth-child(5){
                            background-color: #e91e63;
                        }
                        &:hover{
                            opacity: 1;
                        }
                        &.active{
                            opacity: 1;
                        }
                    }
                }
            }
            &.yesORno{
                p{
                    color: black;
                    opacity: .8;
                    font-size: 16px;
                    font-weight: bolder;
                }
                ul{
                    display: flex;
                    margin-right: 20px;
                    li{
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                        button{
                            padding: 1px 15px;
                            color: white;
                            &.active{
                                background-color: var(--main-color);
                                opacity: 1;
                            }
                            background-color: var(--main-color);
                            opacity: .4;                        }
                    }
                }
            }
        }
        .reset{
                background-color: var(--main-color) !important;
                color: #fff !important;
                width: 100%;
                margin: auto;
            }
    }
}

@keyframes rotat{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}