- var pageTitle = "special design"

- var links = ["about","skills","gallery",'timeline','features','testimonials']


- var skills = ['HTML','CSS','JavaScript','Python','PHP','MySQL'] 


- var colors = ['#ff9800','#03a9f4','#4caf50','#009688','#e91e63']

//- - var themes = ['yellow','blue','green',"ali-green",'red']
