.about#about
    .container
        .about__info 
            h1.masterHeading about us 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .about__pic
        img(src="../img/about-us.jpg", alt="")