.featuers#features
    h1.masterHeading our features 
    .container 
        .card 
            img(src="../img/programming.svg", alt="")
            h4 development 
            hr
            p We are professional marketeers, we will do anything you imagine in no time.
        .card 
            img(src="../img/advertising.svg", alt="")
            h4 marketing
            hr
            p We are professional marketeers, we will do anything you imagine in no time.
        .card 
            img(src="../img/hosting-icon.svg", alt="")
            h4 hosting
            hr
            p We are professional marketeers, we will do anything you imagine in no time.
        .card 
            img(src="../img/mobile-app.svg", alt="")
            h4 mobile develope
            hr
            p We are professional marketeers, we will do anything you imagine in no time.
        .card 
            img(src="../img/graphic-design.svg", alt="")
            h4 cloud and servers
            hr
            p We are professional marketeers, we will do anything you imagine in no time.
        .card 
            img(src="../img/web-design.svg", alt="")
            h4 seo
            hr
            p We are professional marketeers, we will do anything you imagine in no time.