.ourSkills#skills
    h1.masterHeading our skills
    .container 
        .box 
            p Html
            .parentP 
                .progress(data-width="90%")
            h6 90%
        .box 
            p CSS
            .parentP 
                .progress(data-width="85%")
            h6 85%
        .box 
            p JavaScript
            .parentP 
                .progress(data-width="70%")
            h6 70%
        .box 
            p Python
            .parentP 
                .progress(data-width="50%")
            h6 50%
        .box 
            p PHP
            .parentP 
                .progress(data-width="80%")
            h6 80%
        .box 
            p MySQL
            .parentP 
                .progress(data-width="60%")
            h6 60%