.slider#gallery
    h1.masterHeading our gallery 
    .container
        img(src="../img/01.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#one")
        .modal.fade#one(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#oneLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/01.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/02.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#two")
        .modal.fade#two(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#twoLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/02.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/03.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#three")
        .modal.fade#three(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#threeLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/03.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/04.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#four")
        .modal.fade#four(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#fourLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/04.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/05.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#five")
        .modal.fade#five(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#fiveLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/05.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/06.png", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#six")
        .modal.fade#six(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#skixLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/06.png')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/07.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#seven")
        .modal.fade#seven(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#sevenLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/07.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/08.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#eight")
        .modal.fade#eight(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#eightLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/08.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/09.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#nine")
        .modal.fade#nine(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#nineLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/09.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
        img(src="../img/10.jpg", alt="sliderImg", data-bs-toggle="modal", data-bs-target="#ten")
        .modal.fade#ten(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
            .modal-dialog 
                .modal-content
                    .modal-header 
                        h1.modal-title#tenLabel hesham 
                        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                        img(src='../img/10.jpg')
                    .modal-footer 
                        button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close