doctype html
html(lang="en")
    head
        include componats/meta
        title Special Design
        include componats/links
    body
        include options/overflow
        include options/setting
        include options/bullets
        include layout/landing
        include layout/about
        include layout/skills
        include layout/slider
        include layout/timeLine
        include layout/featuers
        include layout/test
        include layout/contact
        include layout/footer
        include componats/scripts